<h1>test</h1>
<div class="d-flex flex-column-fluid mt-n15">
	<div class="container">
		<div class="card card-custom gutter-b">
			<div class="card-body">
				<div id="FilterSection">

					<div class="separator separator-solid mt-4 mb-0"> </div>
					<div class="card-body" id="Part1div">
						<div class="row">
							<div class="col-md-5">
								<h5>Total Pending Tasks</h5>
								<canvas id="myPieChart1"></canvas>
							</div>
							<div class="col-md-5">
								<h5>Total In Progress Tasks</h5>
								<canvas id="myPieChart2"></canvas>
							</div>
						</div>

					</div>

					<div class="card-body" id="Part2div">
						<div class="row">
							<div class="col-md-5">
								<h5>All Status Tasks</h5>
								<canvas id="myPieChart"></canvas>
							</div>

							<div class="col-md-5">
								<h5>Total Completed Tasks</h5>
								<canvas id="myPieChart3"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" id="Part3div">
					<div class="col-md-12">
						<h5>Final Tasks Rating</h5>
						<table class="table" style="outline-color:black">
							<thead>
								<tr style="background-color: #b8b8b6; width: 60px; color:#fff; ">
									<th style="background-color: #3699ff ">

									</th>
									<th style=" background-color: #3da31d; font-weight: bold; text-align:right;">
										Completed
									</th>
									<th style="background-color: #fbbd00; font-weight: bold; text-align:right; ">
										In Progress
									</th>
									<th style="background-color: #fb0000; font-weight: bold; text-align:right; ">
										Pending
									</th>
								</tr>
							</thead>
							<tbody align="center">
								<tr>
									<td> Task Status Ratings</td>
									<td class="text-right">@ViewBag.completedtasksPercent</td>
									<td class="text-right">@ViewBag.inProgresstasksPercent</td>
									<td class="text-right">@ViewBag.pendingtasksPercent </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function(){
			//debugger;
			//console.log('test');
		var numberOfPendingTasks = 0;
		var numberOfInProgressTasks = 0;
		var numberOfCompletedTasks = 0;
		$.ajax({
				url: "/Dashboard/AllStatusTasks",
				type: 'GET',
				dataType: 'json',
				success: function(res) {
					// console.log(res);
					numberOfPendingTasks= res.pendingtaskCount;
					numberOfInProgressTasks= res.inProgresstaskCount;
					numberOfCompletedTasks= res.completedtaskCount;
					// console.log(numberOfPendingTasks);
					// console.log(numberOfInProgressTasks);
					// console.log(numberOfCompletedTasks);

					var options = {
							responsive: true,
							plugins: {
								legend: {
									display: true,
									position: "bottom",
									labels: {
										color: "#333",
										font: { size: 16 },
										boxWidth: 10,
									}
								}
							}
					};
						//Pie Chart
						var test = document.getElementById("myPieChart").getContext('2d');
						var myPieChart = new Chart(test, {
							type: 'pie',
							data: {
								labels: ["Pending", "In Progress", "Completed"],
								datasets: [{
									backgroundColor: ["#fb0000", "#fbbd00", "#3da31d"],
									data: [numberOfPendingTasks, numberOfInProgressTasks, numberOfCompletedTasks]
								}]
							},
							options: options
						});

						//Pie Chart1
						var test = document.getElementById("myPieChart1").getContext('2d');
						var myPieChart = new Chart(test, {
							type: 'pie',
							data: {
								labels: ["Pending"],
								datasets: [{
									backgroundColor: ["#fb0000"],
									data: [numberOfPendingTasks]
								}]
							},
							options: options
						});

						//Pie Chart2
						var test = document.getElementById("myPieChart2").getContext('2d');
						var myPieChart = new Chart(test, {
							type: 'pie',
							data: {
								labels: ["In Progress"],
								datasets: [{
									backgroundColor: ["#fbbd00"],
									data: [numberOfInProgressTasks]
								}]
							},
							options: options
						});

						//Pie Chart3
						var test = document.getElementById("myPieChart3").getContext('2d');
						var myPieChart = new Chart(test, {
							type: 'pie',
							data: {
								labels: ["Completed"],
								datasets: [{
									backgroundColor: ["#3da31d"],
									data: [numberOfCompletedTasks]
								}]
							},
							options: options
						});
				},
				error:function(xhr,status,error)
				{
					console.error("Error fetching all tasks", status, error);
				}
			});
		});
	</script>
}