@using Task_Management_System.Services
@inject IUserService _userService

@if (_userService.IsAuthenticated())
{
	<div>
		<span>Welcome, @_userService.GetUserName()!</span>
		<form asp-controller="Accounts" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
			<button type="submit" class="btn btn-Link">Logout</button>
		</form>
	</div>
}
else
{
	<div>
		<a href="/Accounts/Login">Login</a>
		<a href="/Accounts/Register">Register</a>
	</div>
}